<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand">Bulba Courses</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" *ngIf="isAuthenticated" [routerLink]="['/search-request']" routerLinkActive="active">YouTube Search</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" *ngIf="isAuthenticated" [routerLink]="['/analytics']" routerLinkActive="active">Analytics</a>
      </li>

      <li class="nav-item">
          <a class="nav-link" *ngIf="isAuthenticated" [routerLink]="['/admin']" routerLinkActive="active">AdminMenu</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" *ngIf="isAuthenticated" [routerLink]="['/bookmarks']" routerLinkActive="active">Bookmarks</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" *ngIf="isAuthenticated" [routerLink]="['/search']" routerLinkActive="active">Search</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" *ngIf="isAuthenticated" [routerLink]="['/video']" routerLinkActive="active">Video</a>
      </li>

      <li class="nav-item" *ngIf="!isAuthenticated">
        <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Login</a>
      </li>

      <li class="nav-item">
        <span class="nav-link" *ngIf="isAuthenticated">Welcome {{user.preferred_username}}</span>
      </li>

      <li class="nav-item">
        <a class="nav-link" *ngIf="isAuthenticated" (click)="this.authService.logout()">Logout</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" *ngIf="isAuthenticated" [routerLink]="['/testform']" routerLinkActive="active">Test</a>
      </li>

    </ul>
  </div>
</nav>
