<ngb-tabset #t="ngbTabset">
    <ngb-tab id="tab-selectbyid1" title="Simple">
      <ng-template ngbTabContent>
        <app-add-course></app-add-course>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tab-selectbyid2">
      <ng-template ngbTabTitle> title</ng-template>
      <ng-template ngbTabContent>List of courses.
        <app-course></app-course>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tab-selectbyid3">
      <ng-template ngbTabTitle> title</ng-template>
      <ng-template ngbTabContent>Add video.
        <upload-video></upload-video>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tab-selectbyid4">
      <ng-template ngbTabTitle> title</ng-template>
      <ng-template ngbTabContent>Player.
        <app-videoplayer></app-videoplayer>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
  
  <p>
    <button class="btn btn-outline-primary" (click)="t.select('tab-selectbyid2')">Selected tab with "tab-selectbyid2" id</button>
  </p>