<p>Discount Aggregator course works!</p>

<app-filters></app-filters>

 <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">Курсы</h4>
    </div>
    <div class="card-body" *ngFor="let item of courses">
      <h1 class="card-title pricing-card-title" ><small class="text-muted">{{item.Title}} / </small>{{item.Price}} </h1>
        <li>{{item.Domain?.DomainName}}</li>
        <li>{{item.Category?.Title}} </li>
        <a class="btnLink" href={{item.URL}}>Перейти по ссылке</a>
        <li>{{item.Title}} </li>
        <li>{{item.Description}} </li>
        <li>{{item.Price}} BYN | Текущая скидка: {{item.Discount}} </li>
        <li>Предыдущая цена - {{item.OldPrice}}, была изменеа {{item.DateOldPrice}} </li>
        <li>Дата начала курса: {{item.DateStartCourse}} </li>
        <!-- <li>{{item.DateChange}} </li> -->
      <button type="button" class="btn btn-lg btn-block btn-outline-primary">Перейти</button>
    </div>
  </div>
