<h1>Список пользователей</h1>
<!--<input type="button" value="Добавить" class="btn btn-default" (click)="addUser()" /> -->
<table class="table table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Имя</td>
            <td>Возраст</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.Id}}</td>
          <td>{{user.Username}}</td>
          <td>{{user.Email}}</td>
            <!--<ng-template [ngTemplateOutlet]="loadTemplate(user)"
                        [ngTemplateOutletContext]="{ $implicit: user}">
            </ng-template> -->
        </tr>
    </tbody>
</table>
