<p>course works!</p>
<!-- <input type="button" value="Добавить" class="btn btn-default" (click)="addUser()"/>
<table mdbTable bordered="true">
    <tbody>
      <tr mdbTableCol *ngFor="let item of course"></tr>
        <th scope="row">{{item.CourseId}}</th>
        <td>{{item.Name}}</td>
        <td>{{item.Price}}</td>
        
      </tr>
    </tbody>
  </table> -->
  <p>You can bind our <code>NgbPagination</code> component with slicing the data list</p>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Price</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let course of course">
    <td>{{ course.Name}}</td>
    <td>{{ course.Level}}</td>
    <td>{{ course.Description}}</td>
    <td>{{ course.Price}}</td>
  </tr>
  </tbody>
</table>

<!-- <div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
  </ngb-pagination>

  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select>
</div> -->

