<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"> -->
<form class="form-search" [formGroup]="searchForm" (ngSubmit)="onSubmit()">

  <div class="input-group" id="boot-search-box">
    <input type="text" class="form-control" placeholder="Search in YouTube..." formControlName="title" required/>
      <div class="input-group-btn">
        <div class="btn-group">
          <button type="submit" class="search btn btn-success "><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </div>
    </div>
  </div>
<hr>
<input type="checkbox" id="filter-checkbox">
<label class="btn btn-primary" for="filter-checkbox">✎ Filters &#x25BC;</label>

  <div class="form-filters">
    <div class="form-group">
      <label for="filter">UPLOAD DATE:</label>
      <select class="form-control" formControlName="published">
        <option value="Any" selected>Any</option>
        <option value="Hour">Last hour</option>
        <option value="Today">Today</option>
        <option value="Week">This week</option>
        <option value="Month">This month</option>
        <option value="Year">This year</option>
      </select>
    </div>
    <div class="form-group">
      <label for="filter">DURATION:</label>
      <select class="form-control" formControlName="duration">
        <option value="Any" selected>Any</option>
        <option value="Short__">Short (< 4 minutes)</option>
        <option value="Medium">Medium (4 - 20 minutes)</option>
        <option value="Long__">Long (> 20 minutes)</option>
      </select>
    </div>
    <div class="form-group">
      <label for="filter">QUALITY:</label>
      <select class="form-control" formControlName="definition">
        <option value="Any" selected>Any</option>
        <option value="High">HD</option>
        <option value="Standard">SD</option>
      </select>
    </div>
    <div class="form-group">
      <label for="filter">FORMAT:</label>
      <select class="form-control" formControlName="dimension">
        <option value="Any" selected>Any</option>
        <option value="Value2d">2D</option>
        <option value="Value3d">3D</option>
      </select>
    </div>
    <div class="form-group">
      <label for="filter">TITERS:</label>
      <select class="form-control" formControlName="caption">
        <option value="Any" selected>Any</option>
        <option value="ClosedCaption">With titers</option>
        <option value="None">Without titers</option>
      </select>
    </div>
  </div>
</form>
<hr>
<div class="result-and-story">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
  <app-search-result></app-search-result>
  <app-search-story></app-search-story>
</div>
