<p>Search story:</p>
<input type="checkbox" id="story-checkbox">
<label class="btn btn-primary" for="story-checkbox" (click)="GetStoryForUser()">⌚ История&#x25BC;</label>

<!-- <span *ngIf="isAuthenticated">Welcom to story</!-->
  <ul>
    <li *ngFor="let story of searchStory | paginate: { itemsPerPage: 10, currentPage: pgNumber, totalItems: totalItems, id: 'second'}">
      <div class="story-info">
        <div class="info">
          <h4>{{story.SearchRequest.Title}}</h4>
          {{story.SearchDate | searchDate}}
        </div>
        <div class="delete-button">
          <button (click)="DeleteByStoryId(story)">X</button>
        </div>
      </div>
      <hr>
    </li>
    <pagination-controls id="second" [autoHide]="true" (pageChange)="pgNumber = $event"></pagination-controls>
  </ul>
